<%= render :partial => 'layouts/partials/seotags', :locals => {:page_name => 'dashboard.index'} -%>

        <div class="row">
          <h1><%= get_header_text(element: 'h1') -%><%= "  <span style='color:red;font-size: 9px;'>(development)</span>".html_safe if Rails.env == 'development' -%></h1>
               
          <p>
          The source code for this site can be found on github.com: <a class="btn btn-small" href="https://github.com/jehughes/rails3-devise-bootstrap-example" target="_blank">Github Repo <%= image_tag('Octocat_tiny.png', alt: "octocat") -%></a>
          <br /><br />
          <%= t('private.welcome_html', default: '') -%>
          </p>
          <br />
        </div>
        <div class="row">
          <h5>Gem versions:</h5>
        </div>
        <%= render :partial => 'dashboard/partials/version' -%>
