<!DOCTYPE html>
<html>
<head>
  <title>Myinfo</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= analytics_init :add_events => GA::Events::SetDomainName.new("#{PRIVATE_DATA['ga_tracker_domain']}") unless Rails.env.test? %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div class="centerPage">
  <div id="wrap">
    <div id="header" class="container">  
      <div class="row">  
        <div class="span10">  
          <%= render :partial => 'layouts/partials/menu' %>
          <%= render :partial => 'layouts/partials/header' %>
        </div>
      </div>
    </div>
    <div id="main" class="container">  
      <div class="row">  
        <div class="span9">  
          <div id="flash_messages"><%= bootstrap_flash %></div>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  
  <div id="footer" class="container">  
    <div class="row">  
      <div class="span10 footer-box"> 
          <%= render :partial => 'layouts/partials/footer' %>
      </div>  
    </div> 
  </div>
</div>  
</body>
</html>
